.main_header{
    width: 100%;
    height: 110px;
    z-index: 101;
    background: #000000;
    font-size: 23px;
    font-family: segoe print;
    text-align: center;
    margin-top: -8px;
    }
    .menu ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: inline-flex;
    }
    
    .menu li{
        padding-top: 15px;
        padding-left: 30px;
    }
    
    .menu li a:hover{
        color: green;
        text-decoration: overline;
    }
    
    .menu li a{ 
        display: block;
        padding: 15px;
        text-decoration: none;
        color: white;
    }